.wrapper {
    box-sizing: border-box;
    width: 100%;
    background: url('../images/bg.jpg') no-repeat top;
    background-size: cover;
}
.header {
    display: flex;
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 48px; 
    align-items: center;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    &__left, &__right {
        display: flex;
        align-items: center;
        box-sizing: border-box;
    }
    &__left {
        width: 70%;
        justify-content: flex-start;
    }
    &__right {
        width: 30%;
        justify-content: flex-end;
    }
}
.menu {
    box-sizing: border-box;
    margin: 0;
    display: flex;
    list-style: none;
    &__link {
        margin-right: 35px;
        &:last-child {
            margin-right: 0;
        }
        box-sizing: border-box;
        color: #D8D8D8;
        outline: none;
        line-height: 1.2;
        padding-top: 18px;
        border-top: 2px solid transparent;
        &--active {
            border-top: 2px solid #FF6649;
            color: white;
            opacity: 1!important;
            cursor: default!important;
        }
        display: inline-block;
        vertical-align: bottom;
        font-size: 11px;
        text-decoration: none;
    }
}