.text-Avenir-Heavy {
    font-family: 'Avenir Heavy';

}
.text-Extrabold {
	font-family: 'Proxima Nova Extrabold', sans-serif;
}

.text-Regular {
	font-family: 'Proxima Nova Regular', sans-serif;
}

.text-Semibold {
	font-family: 'Proxima Nova Semibold', sans-serif;
}


.text-Black {
	font-family: 'Proxima Nova Black', sans-serif;
}

.text-Bold {
	font-family: 'Proxima Nova Bold', sans-serif;
}

.text-Thin {
	font-family: 'Proxima Nova Thin', sans-serif;
}


.text-Light {
	font-family: 'Proxima Nova Light', sans-serif;
}